body {
  background-color: #eee;
  font-family: 'Anton', sans-serif;
  margin: 0;
  height: auto;
}

main {
  margin: auto;
  max-width: 992px;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.2), -30px 0px 40px rgba(0, 0, 0, 0.2);
}

#landing-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 5px;
}

#landing-text-inner h1 {
  font-size: 2.5rem;
}

#landing-text-inner h3 {
  font-size: 1.5rem;
  color: #a7a8aa;
}

#landing-image {
  display: flex;
  background-color: black;
}

.caption {
  text-align: center;
  padding: 1.2rem;
}

#teaser-container img {
  width: 100%;
}

#header {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 1.5rem;
}

footer {
  max-width: 992px;
  margin: auto;
  text-align: center;
  padding: 1.5rem 0
}


@media (min-width: 576px) {
}


@media (min-width: 768px) {

}

@media (max-width: 991.11px) {
  #landing-text{
    height: 50vh;
  }
  #landing-image{
    height: 50vh;
    background-color: green;
  }
}

@media (min-width: 992px) {
  #landing-text{
    height: 100vh;
  }
  #landing-image{
    height: 100vh;
    background-color: red;
  }
}

@media (min-width: 1200px) {
}
