// out: ../base.css, sourcemap: false, compress: false
@font-style: 'Oswald', sans-serif;

body {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  font-family: @font-style;
}

.title {
  text-align: center;
  font-size: 400%;
  color: white;
  text-align: center;
}

.button-in-center {
  margin-left: 35%;
  margin-top: 20px;
}
