@media only screen and (max-width: 1026px) {
  .hide-on-small-screen {
    display: none;
  }
}
.parallax {
  /* The image used */
  background-image: url("../images/start-page.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.big-custom-font {
  font-family: 'Dancing Script', cursive;
  font-size: 1300%;
  text-align: center;
  color: white;
}
.medium-custom-font {
  font-family: 'Dancing Script', cursive;
  font-size: 300%;
  text-align: center;
  color: black;
}
.small-custom-font {
  font-family: 'Dancing Script', cursive;
  font-size: 150%;
  text-align: center;
  color: black;
  -webkit-transition: color 1s, font-size 1s;
  -moz-transition: color 1s, font-size 1s;
  -o-transition: color 1s, font-size 1s;
  transition: color 1s, font-size 1s;
}
body {
  /* #fff9e2 */
  background: white;
}
.navbar {
  background: #dbbf59;
}
.navbar .navbar-brand {
  color: black;
}
.navbar .navbar-brand:focus,
.navbar .navbar-brand:hover {
  color: #fff9e2;
}
.navbar .navbar-nav .nav-link {
  border-radius: 0.25rem;
  margin: 0;
  color: black;
}
.navbar .navbar-nav .nav-link:not(.disabled):focus,
.navbar .navbar-nav .nav-link:not(.disabled):hover {
  font-size: 200%;
  color: #fff9e2;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.jumbotron {
  background: transparent;
  font-family: 'Dancing Script', cursive;
  color: black;
  font-size: 150%;
  margin: 40px 20px;
  text-align: center;
}
ul {
  list-style-type: none;
}
.split-bar {
  background: #dbbf59;
  min-height: 30px;
  width: 100%;
  margin: 15px 0;
  padding: 5px;
}
.cover-background {
  height: 100%;
  width: 100%;
}
.carousel-text {
  font-family: 'Dancing Script', cursive;
  font-size: 500%;
  text-align: center;
  color: white;
  background: transparent;
}
.carousel-item {
  max-height: 500px;
}
#chef-div {
  background: #fef5d4;
}
#chef-div img {
  border-radius: 50%;
}
#team-div {
  background: #fef6ab;
}
#indi-bg {
  background-color: black;
}
.indi-text {
  color: white;
}
